.animals {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
    flex-wrap: wrap;
}

.animal {
    width: 130px;
    height: 130px;
    left: 109px;
    top: 687px;
    background: #FFAA5C;
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    Width: 40px;
    Height: 40px;
}

.animal:hover {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: black;
}

.icon {
    margin: auto;
    font-size: 50px;
}

.icon2 {
    margin: 10px auto 0 auto;
    font-size: 50px;
}

@media (max-width: 1440px) {
    .animals {
        margin: -50px auto;
    }

    .animal {
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 1150px) {
    .animals {
        margin: -100px auto;
    }

    .animal {
        width: 90px;
        height: 90px;
    }

    .img {
        Width: 30px;
        Height: 30px;
    }
}

@media (max-width: 900px) {
    .animals {
        margin: -250px auto -100px auto;
    }

    .animal {
        width: 64px;
        height: 64px;
        margin-top: 10px;
    }
    
}

@media (max-width: 700px) {
    .animals {
        margin: -350px auto -100px auto;
    }

    .animal {
        width: 64px;
        height: 64px;
    }
}

@media (max-width: 667px) {
    .animals {
        margin: -400px auto -100px auto;
        align-content: center;
    }

    .animal {
        background-color: white;
        box-shadow: none;
    }

    .img {
        Width: auto;
        Height: 35px;
        color: red
    }
}

@media (max-width: 530px) {
    .animals {
        margin: -400px auto -100px auto;
    }

    .animal {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 414px) {
    .animals {
        margin: -400px auto -100px auto;
    }

    .animal {
        width: 50px;
        height: 50px;
    }


}